@import url(http://fonts.googleapis.com/css?family=Orbitron:500);

body{
  background: #fff;
  border: 5px solid #34495e;
}

.nav{
  margin-top:35px;
}

#grid{
  margin-top: 300px;
  margin-bottom: 12px;
}

.siteTitle{
  color: #3498db;
  position: absolute;
  top: 110px;
  left:45px;
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
}
.siteTitle a:link{
  text-decoration: none;
  color: #3498db;
}

.siteTitle a:hover{
  color: #3498db;
}

#main{
  margin-top: 45px;
}

.paragraph{
  margin-top: 15px;
}

.copyright h2{
  margin-top: 50px;
  color: #3498db;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

@media only screen and (max-device-width: 480px) {

	}
