@import url(http://fonts.googleapis.com/css?family=Orbitron:500);

body{
  background: #fff;
  border: 5px solid #34495e;
}

.nav{
  margin-top:35px;
}

#grid{
  margin-top: 300px;
  margin-bottom: 12px;
}

.siteTitle{
  color: #ecf0f1;
  position: absolute;
  top: 110px;
  left:45px;
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
}

#main{
  margin-top: 45px;
}

.paragraph{
  margin-top: 15px;
}

.copyright{
  margin-top: 50px;
}

@media only screen and (max-device-width: 480px) {

	}
